

<div class="container">
  <div id="border">
    <p class="question"> <%=@question%></p>
    <p class="question"> - You </p>
  </div>
  <div id="border2">
    <p class="answer"><strong><%=@answer%></strong> </p>
    <p class="answer"><i> - Your Coach</i> </p>
  </div>
  <p class="link"> <%= link_to "Ask a new question", ask_path %> </p>
</div>

