
<div class="container">
  <form action="/answer" method="get">
    <label class="coach" for="coach">Ask your coach anything:</label>
    <div class="form-group col-8">
      <input  class="form-control" type="text" name="question" placeholder="comment puis-je t'aider?">
      <button type="submit" class="btn btn-primary">Ask!</button>
     <!--  <input type="submit" value="Ask!"> -->
    </div>
  </form>
</div>

